.container {
  position: fixed;
  background: var(--secondary-color);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px 2rem 30px 2rem;
}

.infoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  grid-gap: 2rem;
  text-align: center;
}

.addressContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.name {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -80px;
}

.addressContainer span {
  margin-bottom: 8px;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
}

.scheduleContainer span {
  margin-bottom: 8px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
}

.contactContainer span {
  margin-bottom: 8px;
}

@media (max-width: 725px) {
  .container {
    /* position: unset; */
  }

  .infoContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
