.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 90vh;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informationContainer {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.portrait {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .informationContainer {
    margin: 1rem 0;
  }

  .portrait {
    margin: 1rem 0;
  }
}

@media (max-width: 450px) {
}
