.container {
  padding: 136px 0 120px 0;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
}

.informationContainer {
  position: relative;
  width: 300px;
  height: 200px;
}

.portrait {
  position: relative;
  width: 280px;
  height: 350px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .portrait {
    position: relative;
    width: 200px;
    height: 280px;
    border-radius: 50%;
  }

  .informationContainer {
    position: relative;
    width: 400px;
    height: 250px;
  }
}
