.container {
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informationContainer {
  position: relative;
  transform: translateY(-10%);
  width: 50vw;
  height: 50vw;
}

@media (min-width: 1280px) {
  .informationContainer {
    width: 640px;
    height: 640px;
  }
}

@media (max-width: 725px) {
  .container {
    padding: 40% 2rem 0 2rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .informationContainer {
    width: 95vw;
    height: 95vw;
  }
}
