.container {
  padding: 0 1rem 0 1rem;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container div {
  margin: 0.5rem 0;
}

.adress p,
.container div p {
  margin: 3px 0;
  padding: 0;
  color: var(--black);
  font-family: (--text-font);
  font-size: (--text-size);
}
