.modalBtn {
  position: absolute;
  left: 0;
  bottom: 10%;
  font-size: 4rem;
  color: var(--primary-color-dark);
  z-index: 11;
}

.modalContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--primary-color-light);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .modalBtn {
    left: 1rem;
    bottom: 6rem;
  }
}
