.container {
  position: fixed;
  z-index: 10;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.imageContainer {
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 0.5rem;
}

.logoFont {
  font-family: var(--navigation-font);
  color: var(--primary-color-dark);
  transform: translateY(25%);
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .logoFont {
    display: none;
  }
}
